.projects-list {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 700px) {
    gap: 16px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;

    >.projectCard {
      max-width: 40%;
      flex-basis: 40%;
      margin: 0;

      @media screen and (prefers-color-scheme: light) {
        box-shadow: 0 4px 8px rgba(black, .08);
      }

      @media screen and (prefers-color-scheme: dark) {
        box-shadow: 0 4px 8px rgba(black, .24);
      }

    }
  }
}