.projectCard {
  gap: 16px;
  cursor: pointer;
  padding: 16px;
  display: flex;
  user-select: none;
  flex-direction: column;
  transition: background 250ms ease-in-out;
  -webkit-tap-highlight-color: transparent;

  &:hover {
    @media (prefers-color-scheme: light) {
      background: rgba($md-sys-color-on-surface-light, 0.08);
    }

    @media (prefers-color-scheme: dark) {
      background: rgba($md-sys-color-on-surface-dark, 0.08);
    }
  }

  &:focus,
  &:active {
    @media (prefers-color-scheme: light) {
      background: rgba($md-sys-color-on-surface-light, 0.16);
    }

    @media (prefers-color-scheme: dark) {
      background: rgba($md-sys-color-on-surface-dark, 0.16);
    }
  }

  @media screen and (min-width: 640px) {
    margin: 0 16px;
    margin-bottom: 4px;
    border-radius: 12px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  >.info {
    h2 {
      margin: 0;

      @include title-large;
    }

    p {
      margin: 0;

      @include body-large;
    }
  }

  >.details {
    gap: 8px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    >.badge {
      padding: 4px 8px;
      border-radius: 24px;

      @include caption;

      @media (prefers-color-scheme: light) {
        color: $md-sys-color-on-primary-container-light;
        background: rgba($md-sys-color-primary-container-light, 0.56);
      }

      @media (prefers-color-scheme: dark) {
        color: $md-sys-color-on-primary-container-dark;
        background: rgba($md-sys-color-primary-container-dark, 0.24);
      }
    }
  }
}