@import "../../styles/variables.scss";

.task-board {
  gap: 16px;
  display: flex;
  padding: 8px 0;
  margin: 0 16px;
  overflow-x: auto;
  overflow-y: hidden;
}

.task-board .board-column {
  display: flex;
  flex-direction: column;

  width: 350px;
  min-width: 350px;
  border-radius: 4px;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.1);

  @media (prefers-color-scheme: dark) {
    color: $md-sys-color-inverse-on-surface-dark !important;
    background-color: $md-sys-color-inverse-surface-dark !important;
  }

  @media (prefers-color-scheme: light) {
    color: $md-sys-color-inverse-on-surface-light !important;
    background-color: $md-sys-color-inverse-surface-light !important;
  }

  @media screen and (max-width: 600px) {
    width: 70vw;
    min-width: 70vw;
  }


  .column-content {
    gap: 16px;
    display: flex;
    flex-direction: column;

    padding: 16px;
    height: 100%;
    min-height: 100px;

    @media (prefers-color-scheme: dark) {
      background-color: lighten($md-sys-color-surface-dark, 5%) !important;
    }

    @media (prefers-color-scheme: light) {
      background-color: lighten($md-sys-color-surface-light, 5%) !important;
    }

    .board-task {
      gap: 16px;
      display: flex;
      flex-direction: column;

      padding: 8px 16px;
      border-radius: 4px;
      cursor: pointer;
      user-select: none;
      transition: background 250ms ease-in-out;
      box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.1);


      @media (prefers-color-scheme: dark) {
        color: $md-sys-color-on-secondary-dark !important;
        background: $md-sys-color-secondary-dark;
      }

      @media (prefers-color-scheme: light) {
        color: $md-sys-color-on-secondary-light !important;
        background: $md-sys-color-secondary-light;
      }



      &:focus,
      &:active {
        @media (prefers-color-scheme: light) {
          background: darken($md-sys-color-secondary-light, 8%);
        }

        @media (prefers-color-scheme: dark) {
          background: darken($md-sys-color-secondary-dark, 8%);
        }
      }

      .info {
        display: flex;
        flex-direction: column;
        gap: 4px;

        h4 {
          margin: 0;

          @include headline5;
        }

        p {
          margin: 0;

          @include body-medium;
        }
      }

      .details {
        gap: 16px;
        display: flex;
        flex-direction: row;

        @include body-medium;

        >div {
          gap: 4px;
          display: flex;
          align-items: center;
          flex-direction: row;
        }

      }

      .actions {
        gap: 8px;
        display: flex;
        margin-top: 8px;
        flex-direction: row;
        justify-content: end;

        .btn {
          @media (prefers-color-scheme: dark) {
            color: $md-sys-color-on-secondary-dark !important;
          }

          @media (prefers-color-scheme: light) {
            color: $md-sys-color-on-secondary-light !important;
          }

          &:not(.loading):hover .state-layer {
            @media (prefers-color-scheme: light) {
              background: rgba($md-sys-color-on-secondary-light, 0.08);
            }

            @media (prefers-color-scheme: dark) {
              background: rgba($md-sys-color-on-secondary-dark, 0.08);
            }
          }

          &:not(.loading):focus .state-layer,
          &:not(.loading):active .state-layer {
            @media (prefers-color-scheme: light) {
              background: rgba($md-sys-color-on-secondary-light, 0.12);
            }

            @media (prefers-color-scheme: dark) {
              background: rgba($md-sys-color-on-secondary-dark, 0.12);
            }
          }
        }
      }
    }
  }
}

.task-board .board-column>.info {
  display: flex;
  padding: 8px 16px;
  flex-direction: column;
  border-bottom: 1px solid rgba($md-sys-color-outline-light, .12) !important;

  h3 {
    margin: 0;

    @include headline3;
  }

  p {
    margin: 0;
    margin-top: 8px;

    @include body1;
  }

  .menu {
    gap: 8px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-top: 16px;

    .btn {
      @media (prefers-color-scheme: dark) {
        color: $md-sys-color-inverse-on-surface-dark !important;
      }

      @media (prefers-color-scheme: light) {
        color: $md-sys-color-inverse-on-surface-light !important;
      }

      &:not(.loading):hover .state-layer {
        @media (prefers-color-scheme: light) {
          background: rgba($md-sys-color-inverse-on-surface-light, 0.08);
        }

        @media (prefers-color-scheme: dark) {
          background: rgba($md-sys-color-inverse-on-surface-dark, 0.08);
        }
      }

      &:not(.loading):focus .state-layer,
      &:not(.loading):active .state-layer {
        @media (prefers-color-scheme: light) {
          background: rgba($md-sys-color-inverse-on-surface-light, 0.12);
        }

        @media (prefers-color-scheme: dark) {
          background: rgba($md-sys-color-inverse-on-surface-dark, 0.12);
        }
      }
    }
  }
}


.task-board .board-column>.column-content {
  gap: 16px;
  display: flex;
  flex-direction: column;

  padding: 16px;
  height: 100%;
  min-height: 100px;

  @media (prefers-color-scheme: dark) {
    background-color: lighten($md-sys-color-surface-dark, 5%) !important;
  }

  @media (prefers-color-scheme: light) {
    background-color: lighten($md-sys-color-surface-light, 5%) !important;
  }

}

.task-board .board-column>.column-content>.board-task {
  gap: 16px;
  display: flex;
  flex-direction: column;

  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
  transition: background 250ms ease-in-out;
  box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.1);


  @media (prefers-color-scheme: dark) {
    color: $md-sys-color-on-secondary-dark !important;
    background: $md-sys-color-secondary-dark;
  }

  @media (prefers-color-scheme: light) {
    color: $md-sys-color-on-secondary-light !important;
    background: $md-sys-color-secondary-light;
  }



  &:focus,
  &:active {
    @media (prefers-color-scheme: light) {
      background: darken($md-sys-color-secondary-light, 8%);
    }

    @media (prefers-color-scheme: dark) {
      background: darken($md-sys-color-secondary-dark, 8%);
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    gap: 4px;

    h4 {
      margin: 0;

      @include headline5;
    }

    p {
      margin: 0;

      @include body-medium;
    }
  }

  .details {
    gap: 6px 16px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    @include body-medium;

    >div {
      gap: 4px;
      display: flex;
      align-items: center;
      flex-direction: row;
    }

  }

  .actions {
    gap: 8px;
    display: flex;
    margin-top: 8px;
    flex-direction: row;
    justify-content: end;

    .btn {
      @media (prefers-color-scheme: dark) {
        color: $md-sys-color-on-secondary-dark !important;
      }

      @media (prefers-color-scheme: light) {
        color: $md-sys-color-on-secondary-light !important;
      }

      &:not(.loading):hover .state-layer {
        @media (prefers-color-scheme: light) {
          background: rgba($md-sys-color-on-secondary-light, 0.08);
        }

        @media (prefers-color-scheme: dark) {
          background: rgba($md-sys-color-on-secondary-dark, 0.08);
        }
      }

      &:not(.loading):focus .state-layer,
      &:not(.loading):active .state-layer {
        @media (prefers-color-scheme: light) {
          background: rgba($md-sys-color-on-secondary-light, 0.12);
        }

        @media (prefers-color-scheme: dark) {
          background: rgba($md-sys-color-on-secondary-dark, 0.12);
        }
      }
    }
  }
}