@import './styles/variables.scss';

// Стилизация полосы прокрутки
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  margin: 0.25rem;
  border-radius: 0.2rem;

  @media (prefers-color-scheme: light) {
    background-color: rgba($md-sys-color-on-surface-light, 0.08);
  }

  @media (prefers-color-scheme: dark) {
    background-color: rgba($md-sys-color-on-surface-dark, 0.08);
  }
}

::-webkit-scrollbar-thumb {
  border-radius: 0.2rem;

  @media (prefers-color-scheme: light) {
    background-color: rgba($md-sys-color-on-surface-light, 0.12);
  }

  @media (prefers-color-scheme: dark) {
    background-color: rgba($md-sys-color-on-surface-dark, 0.12);
  }
}

// Основные стили
html {
  height: 100vh;
  overflow: hidden;
}

html,
body {
  margin: 0;
  width: 100vw;
  overflow-x: hidden;
  text-size-adjust: 100%;

  @include body1;

  @media (prefers-color-scheme: light) {
    color: $md-sys-color-on-background-light;
    background: $md-sys-color-background-light;
  }

  @media (prefers-color-scheme: dark) {
    color: $md-sys-color-on-background-dark;
    background: $md-sys-color-background-dark;
  }
}

a {
  @media (prefers-color-scheme: light) {
    color: $md-sys-color-primary-light;
  }

  @media (prefers-color-scheme: dark) {
    color: $md-sys-color-primary-dark;
  }
}

// Отключение синей подсветки при нажатии
*:focus,
*:active {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

// Стили окна приложения
#root {
  display: flex;
  min-height: 100vh;
  max-height: 100vh;
  overflow-x: hidden;
  flex-direction: column;

  >.content-wrapper {
    display: flex;
    min-height: 100vh;
    overflow-x: hidden;
    flex-direction: row;

    >.content {
      display: flex;
      position: relative;
      min-height: 100vh;
      overflow-y: auto;
      overflow-x: hidden;
      flex-direction: column;
    }
  }
}